---
import { getCollection } from "astro:content";

const stacks = await getCollection("stacks");
const uniqueCategories = [
  ...new Set(stacks.map((stack) => stack.data.category).flat()),
];

const uniqueTags = [...new Set(stacks.map((stack) => stack.data.tags).flat())];
---

<section class="flex flex-col bg-base-200 h-fit" x-data>
  <div class="collapse rounded-none bg-base-300 border-2 border-secondary">
    <input type="checkbox" checked="checked" aria-label="Categories" />
    <div class="collapse-title text-sm brightness-150">Categories</div>
    <div class="collapse-content">
      <ul class="mb-5">
        {
          uniqueCategories.map((category) => (
            <li>
              <div class="form-control">
                <label class="label cursor-pointer">
                  <span class="label-text">{category}</span>
                  <input
                    aria-label={`Filter by ${category}`}
                    type="checkbox"
                    class="checkbox rounded-none"
                    name={category}
                    @click="$store.filters.addFilter($event.target.name)"
                  />
                </label>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>

  <div
    class="collapse rounded-none bg-base-300 border-2 border-secondary border-t-0"
  >
    <input type="checkbox" checked="checked" aria-label="Tags" />
    <div class="collapse-title text-sm brightness-150">Tags</div>
    <div class="collapse-content">
      <ul>
        {
          uniqueTags.map((category) => (
            <li>
              <div class="form-control">
                <label class="label cursor-pointer">
                  <span class="label-text">{category}</span>
                  <input
                    aria-label={`Filter by ${category}`}
                    type="checkbox"
                    class="checkbox rounded-none"
                    name={category}
                    @click="$store.filters.addFilter($event.target.name)"
                  />
                </label>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
