---
import { Image } from "astro:assets";
---

<section>
  <ul class="list-none flex flex-wrap gap-6" x-data>
    <div class="skeleton posts-skeleton h-[340px] w-[384px]"></div>
    <div class="skeleton posts-skeleton h-[340px] w-[384px]"></div>
    <div class="skeleton posts-skeleton h-[340px] w-[384px]"></div>
    <div class="skeleton posts-skeleton h-[340px] w-[384px]"></div>
    <div class="skeleton posts-skeleton h-[340px] w-[384px]"></div>
    <div class="skeleton posts-skeleton h-[340px] w-[384px]"></div>

    <template x-for="stack in $store.filters.filteredStacks()">
      <li>
        <a :href="`/stack/${stack.slug}`">
          <div class="card bg-base-300 w-96 shadow-xl rounded-none">
            <figure>
              <img
                :src="stack.data.heroImage"
                alt=""
                height="400"
                width="400"
                loading="eager"
              />
              <!-- <Image
                :src="stack.data.heroImage"
                alt=""
                height="400"
                width="400"
                loading="eager"
              /> -->
            </figure>
            <div class="card-body">
              <h2 class="card-title brightness-150" x-text="stack.data.title">
              </h2>
              <p class="text-sm" x-text="stack.data.description"></p>

              <ul class="list-none flex flex-wrap gap-2">
                <template x-for="tag in stack.data.category">
                  <li class="badge badge-primary" x-text="tag"></li>
                </template>
                <template x-for="tag in stack.data.tags">
                  <li class="badge badge-accent" x-text="tag"></li>
                </template>
              </ul>

              <div class="flex items-center gap-3 mt-2">
                <div class="avatar">
                  <div class="ring-primary w-8 rounded-full">
                    <img
                      :src="$store.authors.getAuthor(stack.data.author).img"
                      alt="author"
                    />
                  </div>
                </div>

                <div class="flex flex-col text-sm">
                  <span
                    x-text="$store.authors.getAuthor(stack.data.author).name"
                  ></span>
                  <span
                    x-text="new Date(stack.data.pubDate).toLocaleDateString()"
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </li>
    </template>
  </ul>
</section>
<!-- {
      stacks.map((stack) => {
        return (
          <li>
            <a href={`/stack/${stack.slug}`}>
              <div class="card bg-base-100 w-96 shadow-xl">
                <figure>
                  <Image
                    src={stack.data.heroImage}
                    alt=""
                    height="400"
                    width="400"
                    loading="eager"
                  />
                </figure>
                <div class="card-body">
                  <h2 class="card-title">{stack.data.title}</h2>
                  <p class="text-sm">{stack.data.description}</p>
                  <ul class="list-none flex flex-wrap gap-2">
                    {stack.data.tags.map((tag) => (
                      <li class="badge badge-primary">{tag}</li>
                    ))}
                  </ul>
                </div>
              </div>
            </a>
          </li>
        );
      })
    } -->
